html {
  max-width: 1200px;
  margin: auto;
  font-family: 'Monomaniac One', sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  // background-color: $background-primary-color;
  // color: white;
  // margin: 0;
  // padding: 0;
  // background-size: cover;
  background-image: url('../public/images/background_home.jpg');
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: #334847;
  color: white;
  margin: 0;
  padding: 0;
  // background-size: cover; // Cover the entire container
  background-position: center top; // Center the image vertically
  transition: opacity 0.5s;
}

.home {
  padding-bottom: 175px;
}
