html {
  max-width: 1200px;
  margin: auto;
  font-family: 'Monomaniac One', sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  background-color: $background-primary-color;
  color: white;
  margin: 0;
  padding: 0;
  background-size: cover;
  background-image: url('../public/images/background_home.jpg');
}

.home {
  padding-bottom: 175px;
}

.fade-in-enter-active {
  transition: opacity 3 cubic-bezier(0.55, 0.085, 0.68, 0.53);
}

.fade-in-leave-active {
  transition: opacity 3 cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.fade-in-enter,
.fade-in-leave-to {
  opacity: 0;
}
