.profile-banner {
  box-sizing: border-box;
  position: fixed;
  width: 100%;
  text-decoration: none;
  color: white;
  height: 105px;
  display: flex;
  background-image: url('../public/images/profile-banner-wide.jpg');
  background-size: cover;
  border: 5px black solid;
  bottom: 70px;

  & .info {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    & .username {
      margin-top: 5px;
      font-size: 24px;
      color: goldenrod;
      margin-bottom: 0;
      width: fit-content;
      font-weight: 400;
      -webkit-text-stroke: 5px;
      paint-order: stroke fill;
      -webkit-text-stroke-color: black;
      letter-spacing: 0.5px;
      padding: 0px 15px 0px 15px;
      background-color: rgba(43, 64, 63, 0.7);
    }
    & .rank {
      color: rosybrown;
      margin-top: 10px;
      font-size: 16px;
      font-weight: 400;
      -webkit-text-stroke: 5px;
      paint-order: stroke fill;
      -webkit-text-stroke-color: black;
      letter-spacing: 0.5px;
      width: fit-content;
      padding: 5px 25px 5px 15px;
      margin-left: 10px;
      background-color: rgba(43, 64, 63, 0.7);
    }
  }

  & .level {
    -webkit-text-stroke: 5px;
    paint-order: stroke fill;
    -webkit-text-stroke-color: black;
    letter-spacing: 0.5px;
    flex: 2;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    & p {
      text-align: center;
      width: 100%;
    }
    & .exp-bar {
      width: 100%;
      margin: 0px 25px;
      background-color: rgba(113, 126, 126, 0.75);
      height: 6px;
      border: solid black 2px;
      position: relative;
      &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        background-color: #d1670c;
      }
    }
  }

  & .avatar {
    padding: 10px;
    flex: 1;
    display: flex;
    justify-content: flex-end;
  }
}
